html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 40px;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 999;
}

nav img {
    width: 60px;
    height: auto;
}

nav .nav-items {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 1.25em;
}

nav .nav-items a {
    text-decoration: none;
    color: black;
}

nav h1{
    font-weight: 300;
    font-size: 40px;
}

.small-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 60px;
    height: auto;
}

#country-dropdown {
    position: absolute;
    left: 20%;
    right: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-content a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.myAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 900px; /* maximum width */
    height: auto;
    max-height: 900px; /* maximum height */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9997;
    border-radius: 20px;
    overflow-y: scroll;
}

.myAlertBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(11, 94, 215, 0.3);
    z-index: 9996;
    display: none;
}

.login-container {
    height: 100vh;
    min-height: 600px;
}

.login-content {
    max-width: 500px;
    width: 100%;
}
