html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.scrollable {
    overflow-y: scroll;
    height: 100vh;
}

/*///////////////////
// WELCOME SECTION //
///////////////////*/

.section-home {
    min-width: 800px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-home .home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-home .home-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.section-home span, .selection-page-link {
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.active-page,
.selection-page-link {
    width: 90px;
    display: flex;
    justify-content: center;
}

.active-page span {
    font-size: 2em;
    font-weight: 400;
    color: rgba(66, 28, 142, 0.8);
    cursor: default;
    border-radius: 45%;
    padding: 0.5rem 1rem;
    border-color: rgba(66, 28, 142, 0.8);
    border-width: 2px;
    border-style: solid;
}

.selection-page-link:hover{
    font-size: 2em;
    font-weight: 400;
}

.down-arrow {
    position: absolute;
    height: 30px;
    top: 90vh;
}

.down-arrow i:hover {
    cursor: pointer;
    color: rgba(66, 28, 142, 0.8);
    font-size: 1.5em;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.welcome .welcome-text p {
    font-size: 2.7em;
}

.arama{
    font-size: 28px;
    color: black;
}

#scroll-point {
    height: 100px;
}

iframe {
    border: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

/*//////////
// NAVBAR //
//////////*/

#navbar {
    position: static;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 999;
}

/*////////////////
// MAIN SECTION //
////////////////*/

#main-section {
    font-size: 1.6rem;
    padding-bottom: 20rem;
    background: rgb(var(--color-background-200));
}

/* media grid */

.no-results {
    animation: fade-in .4s ease;
    font-size: 2em;
    font-weight: 700;
    color: rgb(var(--color-text));
    padding: 30px;
    text-align: center;
    display: none;
}

.results {
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill,185px);
    justify-content: space-between;
    z-index: 5;
    position: relative;
    text-align: center;
}

.media-card {
    animation: in-data-v-4d8937d6 .3s linear;
    display: grid;
    grid-template-rows: min-content auto;
    position: relative;
    width: 185px;
}

.cover {
    background: rgba(var(--color-background-300),.8);
    border-radius: 4px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
    cursor: pointer;
    display: inline-block;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
}

.media-card a {
    color: inherit;
    text-decoration: none;
    transition: .15s;
    outline: 0;
}

.background-color.loaded, .image.loaded {
    opacity: 1;
}
.background-color, .image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease-in-out;
    width: 100%;
}

.media-card img {
    vertical-align: text-top;
    border-style: none;
}

.title {
    color: rgb(var(--color-gray-700));
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 10px;
    overflow: hidden;
    transition: color .2s ease;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.hover-data {
    background: rgb(var(--color-background-100));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), .15), 0 4px 4px rgba(var(--color-shadow-blue), .05);
    min-width: 200px;
    opacity: 0;
    padding: 24px;
    pointer-events: none;
    position: absolute;
    top: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 10;
    transition: opacity 0.3s ease; /* Add a transition for a smooth effect */
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px 0; /* spazio tra le celle */
    border: 1px solid #ccc; /* bordo per la visualizzazione */
}

.media-card:hover .hover-data {
    opacity: 1;
    pointer-events: auto;
}

.hover-data.left {
    margin-right: 18px;
    right: 100%;
}

.hover-data.right {
    margin-left: 18px;
    left: 100%;
}

.hover-data.left::before {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    transform: scale(1.01);
    border-left: .6rem solid currentColor;
    border-bottom: .4rem solid transparent;
    border-top: .4rem solid transparent;
    left: 100%;
}

.hover-data.right::before {
    width: 0;
    height: 0;
    content: "";
    z-index: 2;
    transform: scale(1.01);
    border-right: .6rem solid currentColor;
    border-bottom: .4rem solid transparent;
    border-top: .4rem solid transparent;
    right: 100%;
}

.hover-data::before {
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue), .1), 0 4px 4px rgba(var(--color-shadow-blue), .02);
    color: rgb(var(--color-gray-100));
    position: absolute;
    top: 15%;
}

.score {
    grid-column-start: 1;
    grid-column-end: 3;
}

.likes {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 5;
}

.likes .icon {
    font-size: 1.9rem;
    color: rgb(var(--color-red-300));
}

.likes .n-likes {
    vertical-align: text-top;
    display: inline-flex;
    padding-left: 8px;
}

.season, .year, .separator, .start-date, .end-date {
    color: rgb(var(--color-gray-600));
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 10px;
}

.season, .start-date {
    grid-column-start: 1;
    grid-column-end: 2;
}

.separator {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
}

.year, .end-date {
    grid-column-start: 4;
    grid-column-end: 5;
}

.likes, .end-date, .year {
    text-align: right;
}

.header {
    font-weight: 600;
    color: rgb(var(--color-gray-800));
    font-size: 1.6rem;
}

/* pagination css */

.container-pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(var(--color-background-200));
    padding-top: 6rem;
}

.pagination.medium .page__numbers {
    width: 3rem;
}
.pagination.large .page__numbers {
    width: 3.6rem;
}
.pagination.x-large .page__numbers {
    width: 4.2rem;
}

ul {
    list-style-type: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 20px;
    background: #ffffff;
    margin: 0;
    padding: 0;
    box-shadow: 0 14px 30px rgba(103,132,187,.1),0 4px 4px rgba(103,132,187,.04);
}

.page__numbers,
.page__btn,
.page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    cursor: pointer;
    font-weight: 600;
}

.page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: rgb(var(--color-blue-600));
    cursor: default;
    align-self: normal;
}

.page__numbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
    color: rgb(81,97,112);
}

.page__numbers:hover {
    color: rgb(var(--color-blue-700));
}

.page__numbers.active {
    color: #ffffff;
    background: rgb(var(--color-blue-600));
    font-weight: 600;
    cursor: default;
    border-radius: 10px;
    box-shadow: 0 14px 30px rgba(103,132,187,.1),0 4px 4px rgba(103,132,187,.04);
}

.page__btn {
    color: grey;
    cursor: default;
    margin: 0;
}

.page__btn.active {
    color: rgb(var(--color-blue-600));
    cursor: pointer;
}

.page__btn.active .material-icons:hover {
    font-size: 3rem;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    width: 3rem;
}