html {
    scroll-behavior: smooth;
}

* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}

.all-page {
    display: flex;
    gap: 20px;
}

.page {
    display: none;
    gap: 30px;
    margin: 50px;
}

/* Sidebar */

#side-navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 999;
    width: 150px;
    padding: 10px;
}

/* Optional: Style the buttons for better appearance */
.button-container button {
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: none;
    border: none;
}

.button-container button:hover {
    background-color: rgba(162, 143, 232, 0.91);
}

.button-container button.active {
    background-color: #907be4;
    color: white;
}

#analytics{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 999;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.options{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.analytic-box{
    height: auto;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 999;
}
.analytic-title{
    font-weight: bold;
    font-size: 20px;
}
.diagram-parameter{
    display: inline-flex;
    gap: 25px;
}
.select{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.select button{
    padding: 4px;
    width: 50%;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #eaeaea;
    z-index: 999;
}

.popup-container.hidden {
    display: none;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* adjust as needed */
}
