.all-page {
    display: flex;
    margin: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

/* Sidebar */

#side-navbar {
    display: flex;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 10rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 999;
    width: 18rem;
    height: 40%;
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
}

.navbar-container {
    min-width: 20rem;
}

.options:hover, .options.active {
    background-color: #907be4;
    color: white;
}

.options {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: none;
    border: none;
}

/* Main content */

.page {
    display: none;
    gap: 30px;
    margin: 50px auto; /* Automatically centers the element horizontally */
    background-color: transparent;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 200rem;
}

.page.selected {
    display: flex;
}

.analytic-box {
    width: 100%;
    height: auto;
    padding: 40px;
    gap: 5rem;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(var(--color-background-100));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analytic-box.large {
    min-height: 50vw;
}

.analytic-title {
    font-weight: bold;
    font-size: 20px;
}

.diagram-parameter {
    display: none;
    gap: 25px;
}

.diagram-parameter.active {
    display: inline-flex;
}

.select {
    display: flex;
    gap: 20px;
}

.select button {
    padding: 4px;
    width: 50%;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #eaeaea;
    z-index: 999;
}

/* list of media content */

.media-list {
    height: 76rem;
    overflow-y: auto;
    width: 100%;
}

.media-item {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    align-items: center;
}

.media-item img {
    width: 9rem;
    height: 12rem;
}

.media-title {
    cursor: pointer;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right {
    margin-left: auto;
    padding-right: 5rem;
}

/* media content analytics */

.media-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: white;
    z-index: 999;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 1300px;
}

canvas.small {
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 1000px;
}

.avg-rating-media {
    display: none !important;
    gap: 20px;
    align-items: center;
}

.avg-rating-media.active {
    display: flex !important;
}