#country-dropdown {
    position: absolute;
    left: 13px;
    right: 51%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9998;
}

.dropdown-content a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

/* profile stats and info css */

.container-px {
    max-width: 750px;
    margin: 100px auto 0 auto;
    padding: 0 2rem;

}

.btn-px {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn-px:focus {
    outline: 0.5rem auto #4d90fe;
}

/*///////////////////
// Profile Section //
///////////////////*/

.profile {
    font-size: 13px;
}

/* profile info css */

.profile-px {
    padding: 5rem 0;
}

.profile-px::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image-px {
    float: left;
    width: calc(33.333% - 1em);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
}

.profile-image-px img {
    border-radius: 50%;
    display: block;
    width: 80%;
    max-width: 150px;
    aspect-ratio: 1/1;
}

.profile-user-settings-px,
.profile-stats-px,
.profile-bio-px {
    float: left;
    width: calc(66.666% - 2em);
}

.profile-user-settings-px {
    margin-top: 1.1em;
    display: flex;
}

.profile-user-name-px {
    font-size: 2.5em;
    font-weight: 300;
}

.profile-edit-btn-px {
    font-size: 1.2em;
    height: auto;
    line-height: 1.8;
    border: 0.1em solid #dbdbdb;
    border-radius: 0.5em;
    padding: 0 2.4em;
    margin: 2em 2em ;
    background-color: #fff;
}

.profile-stats-px ul {
    margin: 0.8em 0;
}

.profile-stats-px li {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.5;
    margin-right: 4em;
    cursor: pointer;
}

.profile-stats-px li:last-of-type {
    margin-right: 0;
}

.profile-bio-px {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1;
    padding-right: 40%;
}

.profile-real-name-px,
.profile-stat-count-px,
.profile-edit-btn-px {
    font-weight: 600;
}

.profile-real-name-px {
    font-size: 1.5em;
}

#general-error {
    display: inline;
    padding-left: 20px
}
/* Media Query */

@media screen and (max-width: 60em) {
    .profile-bio-px {
        padding-right: 10%;
    }
}

@media screen and (max-width: 42em) {
    .profile-px {
        display: flex;
        flex-wrap: wrap;
        padding: 4em 0;
    }

    .profile-px::after {
        display: none;
    }

    .profile-image-px,
    .profile-user-settings-px,
    .profile-bio-px,
    .profile-stats-px {
        float: none;
        width: auto;
    }

    .profile-image-px img {
        width: 7.7em;
        display: block;
        aspect-ratio: 1/1;
    }

    .profile-user-settings-px {
        flex-basis: calc(100% - 10.7em);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    .profile-user-name-px {
        font-size: 2.2em;
    }

    .profile-edit-btn-px {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1em;
        margin-left: 0;

    }

    .profile-bio-px {
        font-size: 1.4em;
        margin-top: 1.5em;
        padding-right: 20%;

    }

    .profile-edit-btn-px,
    .profile-bio-px,
    .profile-stats-px {
        flex-basis: 100%;
    }

    .profile-stats-px {
        order: 1;
        margin-top: 1.5em;
    }

    .profile-stats-px ul {
        display: flex;
        text-align: center;
        padding: 1.2em 0;
        border-top: 0.1em solid #dadada;
        border-bottom: 0.1em solid #dadada;
    }

    .profile-stats-px li {
        font-size: 1.4em;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count-px {
        display: block;
    }

    #general-error {
        display: block;
        padding-left: 0;
        padding-top: 1em;
    }
}

@supports (display: grid) {
    .profile-px {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3em;
        align-items: center;
        justify-content: center;
    }

    .profile-image-px {
        grid-row: 1/-1;
    }

    .profile-image-px,
    .profile-user-settings-px,
    .profile-stats-px,
    .profile-bio-px {
        width: auto;
        margin: 0;
    }

    @media (max-width: 42em) {
        .profile-px {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5em;
        }

        .profile-image-px {
            grid-row: 1 / 2;
        }

        .profile-user-settings-px {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1em;
        }

        .profile-bio-px {
            padding-right: 10%;
        }

        .profile-edit-btn-px,
        .profile-stats-px,
        .profile-bio-px {
            grid-column: 1 / -1;
        }

        .profile-user-settings-px,
        .profile-edit-btn-px,
        .profile-bio-px,
        .profile-stats-px {
            margin: 0;
        }
    }
}

/* edit profile css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 7, 136, 0.3);
    z-index: 9996;
    display: none;
}

.myAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 342px;
    height: auto;
    max-height: 900px;
    background-color: transparent;
    z-index: 9997;
    overflow-y: scroll;
}

.edit-container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    justify-content: center;
}

.myAlertBody {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem 0 -0.75rem;
    align-items: center;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 0.75rem 0 0.75rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.8rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    margin-bottom: 1.5rem;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    color: #fff;
    background-color: rgba(36, 3, 155, 0.64);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.8rem 0.8rem 0 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.img-account-profile {
    height: 15rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.edit-label {
    margin-bottom: .25rem ;
    font-size: 0.9em;
    padding-left: 5px;
}

.align-left {
    text-align: left;
    display: block;
    width: 100%;
}

.check-value {
    height: 16px;
}

.btn-primary {
    border-color: rgba(47, 5, 194, 0.8);
    color: rgba(19, 2, 79, 0.8);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(35, 7, 136, 0.79);
    border-color: rgb(35, 7, 136);
}

.btn-secondary {
    border-color: rgba(132, 4, 46, 0.8);
    color: rgba(63, 1, 22, 0.8);
}

.btn-secondary:hover {
    color: #fff;
    background-color: rgba(105, 4, 37, 0.8);
    border-color: rgba(84, 3, 30, 0.8);
}

.btn {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 1.5rem;
}

#edit-button:disabled {
    background-color: #c5ccd6;
    color: #000000;
    cursor: default;
}

.form-control {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.875rem 1.125rem;
    line-height: 1;
    color: #69707a;
    border: 1px solid #c5ccd6;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: rgb(35, 7, 136);
    color: #16053a;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(35, 7, 136);
}

.textarea-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.textarea-group > * {
    width: 80%;
}

.textarea-ph-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    font-size: 13px;
    color: #69707a;
    resize: none;
}

select.form-control {
    background-color: #fff;
}

#country-error {
    position: relative;
}

.text-center {
    text-align: center;
}

.gx-3 {
    padding-top: 1.5rem;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    #country-error {
        position: absolute;
    }
}

@media (min-width: 1200px) {
    .edit-container {
        max-width: 1140px;
    }
    .mb-xl-0 {
        margin-bottom: 0;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
}

@media (min-width: 1400px) {
    .edit-container {
        max-width: 1500px;
    }
}

/* follow css */

#followers,
#followings {
    background-color: white;
    border: 2px solid rgba(41, 20, 130, 0.85);

}

/*//////////////
// APP RATING //
//////////////*/

.app-rating-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.app-rating-form {
    padding: 0 3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.app-rating-form h1 {
    padding-top: 1rem;
    margin: 0;
}

.stars {
    padding: 3rem 0;
}

.star {
    font-size: 5vh;
    cursor: pointer;
}

.star.checked {
    color: rgb(var(--color-yellow));
}

/*//////////////////////////////////*/
/* SECTION GRID MANGA/ANIME/REVIEWS */
/*//////////////////////////////////*/

.profile-content {
    padding-bottom: 2rem;
}

.no-results-error {
    font-size: 6rem;
}

/* like and reviews list button css */

/* Ensure all buttons are inline and centered */

.button-container {
    width: fit-content;
    margin: 0 auto 2rem auto; /* This will center the container horizontally */

}

.selection-buttons {
    display: flex;
    width: fit-content;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Space between buttons */
}

/* Optional: Style the buttons for better appearance */
.selection-buttons button {
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: none;
    border: none;
}

.selection-buttons button:hover {
    background-color: rgba(162, 143, 232, 0.91);
}

.selection-buttons button.active {
    background-color: #907be4;
    color: white;
}

/* anime/manga grid css */

.project-boxes {
    overflow-y: auto;
    margin: 3rem 5% 0 5%;


    &.jsGridView {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .project-box-wrapper {
            width: 33.3%;
            min-width: 200px;
            max-width: 400px;
        }
    }

    .project-box {
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        > * {
            width: 90%;
        }

        .box-image {
            border-radius: 10px;
            aspect-ratio: 1/1;
            background-color: #eaeaea;
        }

        .box-title {
            font-size: 1.5rem;
            font-weight: 600;
            margin: 1rem 0;
            text-decoration: none;
            color: #fff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.project-box {
    border-radius: 30px;
    padding: 16px;
    background-color: rgb(144, 123, 228);
}

.project-box-wrapper {
    padding: 2rem;
    transition: .3s;
}

@media screen and (max-width: 520px) {
    .project-boxes { overflow-y: visible; }

    .project-boxes.jsGridView .project-box-wrapper {
        width: 100%;
    }

    .project-boxes.jsListView .project-box > * {
        margin-right: 10px;
    }
}


@media (max-width: 42rem) {
    .project-boxes {
        margin: 3rem 0 0;
    }
    .no-results-error {
        font-size: 3rem;
    }
}

/* review list css */

.review-boxes {
    overflow-y: auto;
    margin: 3rem 20% 0 20%;
}

.review-box {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    border-radius: 10px;
    border: 2px solid #7c69c9;
    background-color: #f9f9f9;

    > * {
        padding: 1rem 2rem;
        margin: 0;
        width: 100%;
    }

    .review-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(144, 123, 228);
        border-radius: 5px 5px 0 0;

        .review-media-title {
            font-size: 1.5rem;
            font-weight: 600;
            text-decoration: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #fff;
        }

        .review-rating {
            margin: 0;
            color: #fff;
        }
    }

    .review-date {
        text-align: right;
    }
}

/* pagination css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

ul {
    list-style-type: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 0.6rem;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.page__numbers,
.page__btn,
.page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: rgba(35, 7, 136, 0.79);
    cursor: default;}

.page__numbers {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.4rem;
}

.page__numbers:hover {
    color: rgba(35, 7, 136, 0.79);
}

.page__numbers.active {
    color: #ffffff;
    background: rgba(35, 7, 136, 0.79);
    font-weight: 600;
    border: 1px solid rgba(35, 7, 136, 0.79);
    cursor: default;
}

.page__btn {
    color: grey;
    cursor: default;
    margin: 0;
}

.page__btn.active {
    color: rgba(35, 7, 136, 0.79);
    cursor: pointer;
}

.page__btn.active .material-icons:hover {
    font-size: 3rem;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    width: 3rem;
}

/* footer css */

.footer {
    padding: 2rem 0;
}
